@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Sarala&display=swap');

body {
    background-image: url(gradiente.png);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FAEDF0;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2e7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px 34px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: #FAEDF0;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #DADDFC;
}

.conteudo-principal-escrito-botao {
    background-color: #396EB0;
    color: #DADDFC;
    Width: 180px;
    Height: 60px;
    font-size: 24px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);

}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(25, 31, 126, 0.53);

}

.conteudo-principal-imagem {
    Height: 430px
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FAEDF0;
    margin-bottom: 16px;

}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #DADDFC;
}





.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 100px;
    padding: 12px;
    display: block;
    margin: 0 auto;
}